<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <listener>
        <listener-class>contextListener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>chat.servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>chat.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>chat.servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckValidationOfXMLServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.CheckValidationOfXMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRepositoryFromXMLServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.CreateRepositoryFromXMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRepositoryServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.LoadRepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedRepositoryServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.SelectedRepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRepositoryServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.FetchRepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBranchServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CreateBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutBranchServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CheckoutBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherUsersWithRepositoryInSystemServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.OtherUsersWithRepositoryInSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherUserRepositoriesListServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.OtherUserRepositoriesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCInformationServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.WCInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBlobContentServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.SaveBlobContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFileServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CreateFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForkRepositoryServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.ForkRepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>MAGitHub.servlets.NotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsWcCleanServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.IsWcCleanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeCommitServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.MakeCommitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitFilesServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CommitFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullBranchFromRemoteRepoServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.PullBranchFromRemoteRepoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushBranchToRemoteRepoServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.PushBranchToRemoteRepoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullRequestSenderServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.PullRequestSenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRTBAndCheckoutServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CreateRTBAndCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRTBOnRemoteBranch</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CreateRTBOnRemoteBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptPullRequestServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.AcceptPullRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelPullRequestServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CancelPullRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangedInformationServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.ChangedInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangedFileServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.ChangedFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFolderServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.DeleteFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFolderServlet</servlet-name>
        <servlet-class>RepositoryInformation.servlets.CreateFolderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateFolderServlet</servlet-name>
        <url-pattern>/CreateFolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFolderServlet</servlet-name>
        <url-pattern>/DeleteFolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangedFileServlet</servlet-name>
        <url-pattern>/ChangedFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangedInformationServlet</servlet-name>
        <url-pattern>/ChangedInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelPullRequestServlet</servlet-name>
        <url-pattern>/CancelPullRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptPullRequestServlet</servlet-name>
        <url-pattern>/AcceptPullRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRTBOnRemoteBranch</servlet-name>
        <url-pattern>/CreateRTBOnRemoteBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRTBAndCheckoutServlet</servlet-name>
        <url-pattern>/CreateRTBAndCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullRequestSenderServlet</servlet-name>
        <url-pattern>/PullRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushBranchToRemoteRepoServlet</servlet-name>
        <url-pattern>/PushBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullBranchFromRemoteRepoServlet</servlet-name>
        <url-pattern>/PullBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitFilesServlet</servlet-name>
        <url-pattern>/CommitFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsWcCleanServlet</servlet-name>
        <url-pattern>/IsWcClean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeCommitServlet</servlet-name>
        <url-pattern>/MakeCommit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/GetNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForkRepositoryServlet</servlet-name>
        <url-pattern>/ForkRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFileServlet</servlet-name>
        <url-pattern>/CreateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/DeleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBlobContentServlet</servlet-name>
        <url-pattern>/SaveFileContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCInformationServlet</servlet-name>
        <url-pattern>/WCInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherUserRepositoriesListServlet</servlet-name>
        <url-pattern>/SelectedOtherUserRepositories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRepositoryServlet</servlet-name>
        <url-pattern>/FetchRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherUsersWithRepositoryInSystemServlet</servlet-name>
        <url-pattern>/OtherUsersWithRepositoryInSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutBranchServlet</servlet-name>
        <url-pattern>/CheckOutBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBranchServlet</servlet-name>
        <url-pattern>/CreateBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedRepositoryServlet</servlet-name>
        <url-pattern>/SelectedRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRepositoryServlet</servlet-name>
        <url-pattern>/LoadRepositoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRepositoryFromXMLServlet</servlet-name>
        <url-pattern>/CreateRepositoryFromXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckValidationOfXMLServlet</servlet-name>
        <url-pattern>/CheckValidationOfXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/pages/MAGitHubAccount/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/pages/MAGitHubAccount/userslist</url-pattern>
    </servlet-mapping>
</web-app>